 body {
     background-image: url(./trianglify-lowres.png);
     background-repeat: no-repeat;
     background-size: 90em; 
     
 }
 h1 {
     text-align: center;
     border: 3px solid black;
     margin: auto 16rem;
 }
 p {
     text-align: center;
 }
 h4 {
     text-align: center;
     font-size: 3em;
     padding: 0 auto;
     margin: 0 auto;
 }
 #masterBox {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 5px;
    row-gap: 5px;
    border-radius: 20px;
    height: 30em;
    width: 40em;
    margin: 0 auto;
    /* background-color: blue; */
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(13,13,94,1) 16%, rgba(0,212,255,1) 100%);
}

.littleBox {
    height: 80%;
    width: 70%;
    padding: auto auto;
    margin: auto auto;
    border-radius: 50%;
    background-color: white;
}
