 h1 {
     text-align: center;
     border: 3px solid black;
 }
 #masteBox {
     background-color: blue;
 }
 
 .box {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 5px;
    row-gap: 5px;
    height: 50%;
    width: 50%;
    padding: 0 auto 0 auto;
    margin: 20% auto 0 auto;
    border-radius: 50%;
    background-color: cyan;
}
/* .littleBoxs {
    background-color: brown;
} */